
#background-image{
  float: right;
}
/* Navbar   */
.navbar{
    background-color: #0e833b;
}
.logo{
    margin-left: 10px;
    border-radius: 5%;
    width: 80px;
    margin-left: 20px;
}
.navbar-brand{
   margin-left: 35px;
   margin-bottom: 14px;
}
.nav-title{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 34px;
    color: white;
}
.nav-writing{
    font-family:Arial, Helvetica, sans-serif ;
    color: white;
}
#navbarText a{
   font-size: 20px;
   color: white;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#navbarText{
  margin-left: 700px;
}

#navbarText li{
  padding-left: 35px;
}
@media only screen and (min-width:769px){
  #navbarText a:hover{
  background-color: white;
  border-radius: 21px;
  color: #0e833b;
  }
}
@media only screen and (max-width:769px){
  #navbarText{
    margin-left: 100px;
  }
}
/* Navbar */
#carouselExampleInterval{
  width: 100%;
  margin-top: 91px;
}
#carouselExampleInterval img{
  height: 650px;
}
.About{
  padding-top: 150px;
  padding-left: 550px;
  font-size: 22px;
  text-align: justify;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.About p{
  width: 800px;
  margin-left: 100px;
}
#kathakImage img{
  margin-left: 550px;
  width: 800px;
}
@media only screen and (max-width:769px){
  #kathakImage{
    display: none;
  }
  .About p{
    width: 500px;
    margin-left:100px;
  }
}
#topDestinations{
  margin-top: 80px;
  font-family: trajan-pro-3, serif;
  font-style: normal;
  font-weight: 900;
}
.card-group{
  margin-top: 50px;
  padding-left: 85px;
  padding-right: 85px;
  text-align: center;
}
.card-group2{
  margin-top: 50px;
  padding-left: 85px;
  padding-right: 85px;
  text-align: center;
}
.card-body{
  /* background-color: #ACB992; */
  /* color: white; */
  font-family: basel-neue, sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* footer */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0e833b;
  color: white;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;

}
.Icons{
  text-align: center;
  margin-bottom: 25px;
  margin-top: 55px;

}
.footerIcons i{
  margin-top: 25px;
  padding-left: 20px;
  font-size: 40px;
  margin-bottom: 20px;
}
/* Signup Form */

/* Signup Form */
/* Login Form */
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
h2{
  padding-top: 1.5rem;
}
a{
  color: #333;
}
a:hover{
  color: #da5767;
  text-decoration: none;
}
.cardL{
  border: 0.40rem solid #f8f9fa;
  top: 300px;
  position: relative;
  background-color: white;
}
.card-title a{
    text-decoration: none;
    color: rgb(9, 148, 67)
}
.form-control{
  background-color: #f8f9fa;
  padding: 20px;
  padding: 25px 15px;
  margin-bottom: 1.3rem;
}
.form-control:focus {

    color: #000000;
    background-color: #ffffff;
    border: 3px solid #da5767;
    outline: 0;
    box-shadow: none;
}
.btn{
  padding: 0.6rem 1.2rem;

  border: 2px solid dodgerblue;
}
.btn-primary:hover {
    background-color: #df8c96;
    border-color: #df8c96;
    transition: .3s;
}
/* Login Form */

